<title>The Top Care Beauty Saloon and Makeup</title>
<%- include("./partials/navbar") %>
    <%- include("./partials/header") %>
        <%- include("./partials/about") %>
            <%- include("./partials/services") %>
                <%- include("./partials/gallery") %>
                    <%- include("./partials/contact") %>
                        <%- include("./partials/footer") %>